.movieAdd{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btnadd {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  
}
.App-header{
  background-color: black;
}
.titre {
  font-family: 'Courier New', monospace;
  font-weight: 900;

}